
body{
    background-image: url(./imagenes/Desktop\ -\ 3.png); 
    font:normal oblique;
    font-size: 28px;
    line-height: 44px;
    

}

#logo{
    padding: 1%;
    object-position: unset;
}

.encabezado{
    
    background-image: url(./imagenes/minecraft\ personaje.png);
    background-repeat: no-repeat 0;
    background-position: center;
    background-size: cover;
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    overflow: hidden;
    clip-path: polygon(100% 0%, 100% 90%, 50% 100%, 0% 90%, 0% 0%);
    
    
}

#menu{
    font-size: 1em;
    padding-left: 1em;
    padding-bottom: 0.5em;
    color: white;
    line-height:inherit;
    display: inline-block;
    
}


#menu :hover{
    background-color: rgb(231, 151, 3);
    border-radius: 8px;
    
}


.main {
    display: grid;
    grid-template-columns: repeat(3,fr);
    gap: 1em;
    grid-template-rows: minmax(50px,auto);
        
    
}

.main>div{
    display: grid; 
    gap: 1em;
    padding-top: 25rem;   
    

}

.p{
    position:absolute; 
    left: 50px;
    display: inline;
    

     
    
}
.t{
    display: block;
    position:absolute; 
    height: auto;
    max-width: 100%;
    padding-top: 1em;

    
}

.img{
    align-self: auto;
    border: 2px solid crimson;
    height: auto;
    max-width: 100%;
        

}

#nombre{
    position: relative;
    color: white;
    padding-left: 60%;
    padding-bottom: 5%;    

}



.banner{
    width: 10px;
    height: 10px;
    border: 10px;
    margin: 10px;
    background-size: 100% 100%;
    animation-name: banner 10s infinite;
    


}

@keyframes identifier {
    0%, 30%{
        background-image: url(./Diapositiva1.PNG); opacity: 1;}
    31%, 34%{
        opacity: 0.1;
    }    
    35%, 65%{
        background-image: url(./Diapositiva5.PNG);opacity: 1;}
        66%, 69%{
            opacity: 0.1;}
    70%, 100%{
        background-image: url(./Diapositiva4.PNG);opacity: 1;}    

}
